menu "airmon Configuration"

config TEMPERATURE_PERIOD_SECONDS
	int "Temperature measurement period, seconds"
	range 1 3600
	default 15

config TEMPERATURE_KEEP_HOURS
	int "How many hours of temperature measurements to keep in queue"
	range 1 24
	default 3
endmenu

