menu "airmon configuration"

config TEMPERATURE_PERIOD_SECONDS
	int "Temperature measurement period, seconds"
	range 1 3600
	default 15

config PARTICULATE_PERIOD_SECONDS
	int "Particulate measurement period, seconds"
	range 1 86400
	default 900

config MEASUREMENT_QUEUE_SIZE
	int "How many temperature & particulate measurements to keep in queue"
	range 1 10000
	default 500

config WIFI_SSID
	string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) to connect to

config WIFI_PASSWORD
	string "WiFi Password"
	default "mypassword"
	help
		WiFi password (WPA or WPA2) to use
endmenu

